<h1>CreateEvent#index</h1>

<%= form_for :event do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
 
 <p>
    <%= f.label :start %><br>
    <%= f.text_area :start %>
  </p>
 
 
 
  <p>
    <%= f.label :additionalInfo %><br>
    <%= f.text_area :additionalInfo %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>