<% if !mobile_device? %>
  <br>
  <br>
  <br>
<% end %>

<% if current_user.present? %>
  <% if current_user.faculty? or current_user.admin?  %>
    <%= link_to 'New Club', new_club_path, :class => "button" %>
  <% end %>
<% end %>

<% @clubs.each do |club| %>
  <div class = "aProject">
    <h2><%= link_to club.name, club.club_page_link %></h2>
    <%= club.description %>
    <br>
    <%= club.contact_info %>
    <br>
    <% if current_user.present? %>
		<% if current_user.faculty? or current_user.admin?  %>
		  <p>
			<%= link_to 'Edit', edit_club_path(club), :class => "button" %>
			<%= link_to 'Destroy', club, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button" %>
		  </p>
        <% end %>
    <% end %>
  </div>
<% end %>