<h2>Research project info</h2>

<div class = "aProject">
	<p>
	  <strong>Name:</strong>
	  <%= @club.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @club.description %>
	</p>

	<p>
	  <strong>Contact info:</strong>
	  <%= @club.contact_info %>
	</p>

	<p>
	  <strong>Club page link:</strong>
	  <%= @club.club_page_link %>
	</p>

	<p>
	  <strong>Sponsor:</strong>
	  <%= @club.sponsor %>
	</p>

	<% if current_user.present? %>
		<% if current_user.faculty? or current_user.admin?  %>
			<p>
				<%= link_to 'Edit', edit_club_path(@club), :class => "button" %>
				<%= link_to 'Remove', @club, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button"  %>
			</p>
		<% end %>
	<% end %>
</div>