<%= form_for(@job) do |f| %>
	<% if @job.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

			<ul>
				<% @job.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<br>
	<div class="field">
	  Type of job (internship / full-time / part-time)
	  <br>
	  <%= f.text_field :kind, :size => "50" %>
	</div>
	<div class="field">
	  Position title
	  <br>
	  <%= f.text_field :title, :size => "50" %>
	</div>
	<div class="field">
	  Job description
	  <br>
	  <%= f.text_area :desc, :cols => "75", :rows => "5" %>
	</div>
	<div class="field">
	  Company
	  <br>
	  <%= f.text_field :poster, :size => "50" %>
	</div>
	<div class="field">
	  Department
	  <br>
	  <%= f.text_field :host, :size => "50" %>
	</div>
	<div class="actions">
	  <%= f.submit :class=>"button" %>
	</div>
<% end %>
