<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Title</th>
      <th>Desc</th>
      <th>Poster</th>
      <th>Host</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.kind %></td>
        <td><%= job.title %></td>
        <td><%= job.desc %></td>
        <td><%= job.poster %></td>
        <td><%= job.host %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
