<% if !mobile_device? %>
  <br>
  <br>
<% end %>

<% form_tag jobs_path, :method => :get do %>
  <p>
    <%= text_field_tag : search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @jobs.each do |job| %>
  <div class = "aJob">
    <% if mobile_device? %>
      <h2><%= link_to job.title + " at " + job.poster, job %></h2>
    <% else %>
      <h2><%= job.title %></h2>
      <br>
      Type: <%= job.kind %>
      <br>
      From: <%= job.host %> @ <%= job.poster %>
      <br>
      <br>
      <%= job.desc %>
      <br>
      <% if current_user.present? %>
        <% if current_user.faculty? or current_user.admin?  %>
          <%= link_to 'Edit', edit_job_path(job) %> |
          <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>

    <% end %>
  </div>
<% end %>

<br>

<% if !mobile_device? %>
  <% if current_user.present? %>
    <% if current_user.faculty? or current_user.admin?  %>
      <%= link_to 'New Job', new_job_path %>
    <% end %>
  <% end %>
<% end %>

