
<div class = "aJob">

  <p>
    <strong>Title:</strong> <%= @job.title %>
  </p>

  <p>
    <strong>Type:</strong> <%= @job.kind %>
  </p>

  <p>
    <strong>From: </strong> <%= @job.host %> @ <%= @job.poster %>
  </p>

  <p>
    <strong>Description:</strong> 
    <br>
    <%= @job.desc %>
  </p>


  <% if !mobile_device? %>
    <%= link_to 'Edit', edit_job_path(@job) %>
  <% end %>
</div>
