<% if !mobile_device? %>
  <br>
  <br>
  <br>
<% end %>

<% if current_user.present? %>
  <% if current_user.faculty? or current_user.admin?  %>
    <%= link_to 'New research project', new_research_path, :class=>"button"  %>
  <% end %>
<% end %>

<% @researches.each do |research| %>
  <div class = "aProject">
	<% if !mobile_device? %>
		<h2><%= research.title %></h2>
		<br>
		<%= research.content %>
		<br>
	<% else %>
		<h2><%= link_to research.title, research %></h2>
	<% end %>
	
    <% if current_user.present? %>
  		<% if current_user.faculty? or current_user.admin?  %>
  		  <p>
            <%= link_to 'Edit', edit_research_path(research), :class=>"button"  %>
            <%= link_to 'Remove', research, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button"  %>
          </p>
      <% end %>
	  <% end %>
  </div>
<% end %>
<br>