<% if !mobile_device? %>
  <br>
  <br>
<% end %>

<% if current_user.present? %>
	<% if current_user.faculty? or current_user.admin?  %>
		<%= link_to 'New faculty member', new_faculty_path, :class=>"button" %>
	<% end %>
<% end %>


<% @faculties.each do |faculty| %>
  <div class = "aProject">
    <%= faculty.name %></td>
    <%= faculty.personal_page_link %></td>
    <%= faculty.email %></td>
    <%= faculty.office_location %></td>
    <%= faculty.phone_number %></td>
    <%= faculty.classes %></td>
    <% if current_user.present? %>
      <% if current_user.faculty? or current_user.admin?  %>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    <% end %>
  </div>
<% end %>
<br>