<h2>Faculty info</h2>

<div class = "aProject">
  <h3><%= @faculty.name %></h3>

  <p>
    <% if !(@faculty.avatar.url == "/images/original/missing.png") %>
      <%= image_tag @faculty.avatar.url(:medium) %>
    <% else %>
      <%= image_tag "cis_default_photo.png" %>
    <% end %>
  </p>

  <p>
    <%= link_to @faculty.personal_page_link, @faculty.personal_page_link %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <br>
    <%= @faculty.phone_number %>
    <br>
    <%= @faculty.email %>
  </p>

  <p>
    <strong>Office location:</strong>
    <%= @faculty.office_location %>
  </p>

  <p>
    <strong>Classes:</strong>
    <%= @faculty.classes %>
  </p>
 

  <% if current_user.present? %>
    <% if current_user.faculty? or current_user.admin?  %>
      <p>
        <%= link_to 'Edit', edit_faculty_path(@faculty), :class => "button" %>
        <%= link_to 'Remove', @faculty, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"button"  %>
      </p>
    <% end %>
  <% end %>

  
</div>