<%= form_for @event do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
      
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
	<br>
	Title <%= f.text_field :name, :size => "50" %>
	<br>
	Sponsor <%= f.text_field :sponsor, :size => "45" %>
	<br>
	Start Date <%= datetime_select :event, :start_at , :ampm => true, :minute_step => 15 %>
	<br>
	End Date <%= datetime_select :event, :end_at , :ampm => true, :minute_step => 15 %>
	<br>
	Additional Information
	<br>
	<%= f.text_area :additionalInfo, :cols => "75", :rows => "5"  %>
	<br>
	food?<%= f.check_box :food %>
	swag?<%= f.check_box :swag %> 
	competition?<%= f.check_box :comp %>
	important?<%= f.check_box :important %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
