<% if !mobile_device? %>
	<h2>Event info</h2>

	<div class = "aProject">
		<h1><%= @event.name %></h1>
		Sponsored by: <%= @event.sponsor %>

		<p>
			<strong>Start Time:</strong> <%= @event.start_at.to_formatted_s(:long) %>
			<br>
			<strong>End Time:</strong> <%= @event.end_at.to_formatted_s(:long) %>
		</p>
		
		<p>
			<%= @event.additionalInfo %>
		</p>
		
		<p>
			<% if @event.food == true %>
				<a sayThings="Free food!" class="tooltip">
					<%= image_tag "icons/pizza.png" %>
				</a>
			<% else %>
				<a sayThings="No free food :(" class="tooltip">
					<%= image_tag "icons/pizza.png" %>
					<%= image_tag "icons/nope.png", :class => "toTheLeft" %>
				</a>
			<% end %>
			
			<% if @event.swag == true %>
				<a sayThings="Free swag!" class="tooltip">
					<%= image_tag "icons/swag.png" %>
				</a>
			<% else %>
				<a sayThings="No free swag :(" class="tooltip">
					<%= image_tag "icons/swag.png" %>
					<%= image_tag "icons/nope.png", :class => "toTheLeft"  %>
				</a>
			<% end %>
			
			<% if @event.comp == true %>
				<a sayThings="Compete for prizes!" class="tooltip">
					<%= image_tag "icons/comp.png" %>
				</a> 
			<% else %>
				<a sayThings="No competition :(" class="tooltip">
					<%= image_tag "icons/comp.png" %>
					<%= image_tag "icons/nope.png", :class => "toTheLeft"  %>
				</a>
			<% end %>
			
		</p>
		
		<% if current_user.present? %>
			<% if current_user.faculty? or current_user.admin? %>
				<p>
					<td><%= link_to 'Edit', edit_event_path(@event),:class => "button" %></td>
				</p>
			<% end %>
		<% end %>
	</div>
<% else %>
	<div id="mobile_events_show">
		<h2><%= @event.name %></h2>
		Starts <%= @event.start_at.to_formatted_s(:long) %>
		<br>
		Ends <%= @event.end_at.to_formatted_s(:long) %>
		<p>
			<%= @event.additionalInfo %>
		</p>
	</div>
<% end %>
