<h2>Event info</h2>

<div id="eventBorder">

	<h1><%= @event.title %></h1>
	Sponsored by: <%= @event.sponsor %>

	<p>
		<strong>Start Time:</strong> <%= @event.start.to_formatted_s(:long) %>
		<br>
		<strong>End Time:</strong> <%= @event.end.to_formatted_s(:long) %>
	</p>
	
	<p>
		<%= @event.additionalInfo %>
	</p>
	
	<p>
		<% if @event.food == true %>
			<a sayThings="Free food!" class="tooltip">
				<%= image_tag "icons/pizza.png" %>
			</a>
		<% else %>
			<a sayThings="No free food :(" class="tooltip">
				<%= image_tag "icons/pizza.png" %>
				<%= image_tag "icons/nope.png", :class => "toTheLeft" %>
			</a>
		<% end %>
		
		<% if @event.swag == true %>
			<a sayThings="Free swag!" class="tooltip">
				<%= image_tag "icons/swag.png" %>
			</a>
		<% else %>
			<a sayThings="No free swag :(" class="tooltip">
				<%= image_tag "icons/swag.png" %>
				<%= image_tag "icons/nope.png", :class => "toTheLeft"  %>
			</a>
		<% end %>
		
		<% if @event.comp == true %>
			<a sayThings="Compete for prizes!" class="tooltip">
				<%= image_tag "icons/comp.png" %>
			</a>
		<% else %>
			<a sayThings="No competition :(" class="tooltip">
				<%= image_tag "icons/comp.png" %>
				<%= image_tag "icons/nope.png", :class => "toTheLeft"  %>
			</a>
		<% end %>
	</p>
</div>


<%= link_to 'Back to Events', events_path %> | <%= link_to 'Edit Event', edit_event_path(@event) %>