<!DOCTYPE html>
<html>
	<head>
	  	<title>StudentPortal</title>
	  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  	<%= csrf_meta_tags %>
	</head>
	
	<body>
		<div id="header">
			<div id="clickables">
				<div id="signIn">
					<form>
						username: <input type="text" name="username">
						password: <input type="password" name="password">
						<input type="submit" name="submit" value="sign in" id="submit">
					</form>
				</div>
				
				<div id="wordmark">
					<a href="http://www.ksu.edu/"><%= image_tag "welcome/wordmark.png" %></a>
				</div>
			</div>
		</div> <!-- end header -->
		
		<div id="page">
			<div id="nav">
				<ul>
					<li><a id="1" href="/">Home</a></li>
					<li><a id="2" href="/events">Events</a></li>
					<!--
					<li><a id="3" href="/stats">Stuff</a></li>
					<li><a id="4" href="/stats">Things</a></li>
					<li><a id="6" href="/stats">Moar stuffs</a></li>
					<li><a id="7" href="/stats">Moar things</a></li>
					<li><a id="5" href="/stats">Self destruct</a></li>
					-->
				</ul>
			</div>
			
			<div id="content">
				<%= yield %>
			</div>
			
			<div id="castle">
				<%= image_tag "welcome/footer_castle.png" %>
			</div>
			
			<div id="castleBlock">
				<br>
			</div>
		</div> <!-- end page -->
		
		<div id="footer">
			footer
		</div> <!-- end footer -->
	</body>
</html>
